
#contents{
    width: 1900px;
    height: 944px;
    background-color: rgb(163, 163, 163);
    margin:auto;
}
#column1{
width: 35%;
float:left;
margin-left: 10%;
margin-right: auto;


padding:1%;
padding-top:2%;
}
#column2{
    width: 35%;
    float:left;
    margin-left: 10%;
    margin-right: auto;
    
    
    padding:1%;
    padding-top:2%;
    }
.imgContainer{
background-color: white;
height: 500px;
margin-bottom: 5%;
}
.textContainer{
    background-color: white;
    padding: 2%;
    min-height: 220px;
}
#img1{
    max-width: 700;
    max-height: 500;
    width: 90%;
    height: 100%;
    margin:auto;
    overflow: hidden;
}

@media screen and (max-width: 414px){
    #contents{
        max-width: 414px;
        background-color: rgb(163, 126, 126);
        height:1500px;
        
    }
    #column1{
        width: 95%;
        margin:auto;
        padding-top:5%;
        }
    #column2{
        width: 95%;
        margin: auto;
        padding-top:2%;
    }
    .imgContainer{
        background-color: white;
        width:85%;
        height: 375px;
        padding: 2%;
        margin-left:auto;
        margin-right:auto;
        }
        .textContainer{
            background-color: white;
            width:78%;
            padding-left: 5%;
            padding-right: 5%;
            min-height: 220px;
            margin:auto;
        }
}